@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  scroll-behavior: smooth;
--subtitle-color: rgb(175, 175, 175);
--color-accent: rgb(243, 42, 42);
--color-background-main: rgb(0, 0, 0);
--color-background-muted: rgb(34, 34, 34);
--color-secondary-dark: #151515;
--primary-color:rgb(247, 199, 2);
--secondary-button-color: #e6b800;
--base-color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
}


body {
  background-color: black;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {

  color: var(--base-color);
}

h1,
h2 {
  font-family: "Permanent Marker";
}

a {
  color:var(--base-color);
}

a:visited {
  color: var(--base-color);
}

a:hover {
  color: var(--primary-color);
}

a:active {
  color: var(--base-color);
}

img {
  display:block;
  max-width:100%;
}
