*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
}
h1,h2,h3,h4,h5,h6,p {

    color: rgb(235, 174, 8);
}
a {
    color: rgb(241, 126, 18);
  }
  
a:visited {
    color: rgb(230, 26, 26);
  }
  
a:hover {
    color: rgb(231, 200, 20);
  }
  
a:active {
    color: rgb(241, 201, 20);
  }