@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
  max-width:1200px;
  margin: auto;
}
h1,h2,h3,h4,h5,h6,p {

    color: white;
}
a {
    color: rgb(241, 126, 18);
  }
  
a:visited {
    color: rgb(252, 165, 5);
  }
  
a:hover {
    color: rgb(231, 200, 20);
  }
  
a:active {
    color: rgb(241, 201, 20);
  }

