.national-park {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
  }
  
.national-park__content,
.national-park__image {
  flex: 1; /* Робимо обидва блоки рівними */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;
}

.national-park__content {
    background-color: #f7c702;
}
  
  .national-park__title {
    color: #151515;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .national-park__subtitle {
    color: #151515;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    font-size: 19px;
    margin-bottom: 15px;
  }
  
  .national-park__description1, .national-park__description2 {
    color: #464545;
    font-family: "Titillium Web", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  .national-park__time_price_subtitle {
    color: #151515;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    font-size: 21px;
  }
  
  .national-park__hightlight {
    color: #f32a2a;
    font-family: "Titillium Web", sans-serif;
    font-size: 21px;
  }
  
  .national-park__button {
    margin-top: 20px;
  }
  
  .national-park__button button {
    padding: 12px 25px;
    background-color: #f32a2a;
    color: white;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    font-weight:600;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .national-park__button button:hover {
    background-color: #151515;
  }
  
  .national-park__image {
    position: relative;
    overflow: hidden;
  }
  
  .national-park-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заповнює весь блок, не спотворюючи зображення */
  }
  