.national-park {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
}

.national-park__content,
.national-park__image {
flex: 1; /* Робимо обидва блоки рівними */
display: flex;
flex-direction: column;
justify-content: center;
padding: 40px 30px;
}

.national-park__content {
  background-color: #f7c702;
}

.national-park__title {
  color: #151515;
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  margin-bottom: 20px;
}

.national-park__subtitle {
  color: #151515;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  font-size: 19px;
  margin-bottom: 15px;
}

.national-park__description1, .national-park__description2 {
  color: #464545;
  font-family: "Titillium Web", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.national-park__time_price_subtitle {
  color: #151515;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  font-size: 21px;
}

.national-park__hightlight {
  color: #f32a2a;
  font-family: "Titillium Web", sans-serif;
  font-size: 21px;
}

.national-park__button {
  margin-top: 20px;
}

.national-park__button button {
  padding: 12px 25px;
  background-color: #f32a2a;
  color: white;
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
  font-weight:600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}

.national-park__button button:hover {
  background-color: #151515;
}

.national-park__image {
  position: relative;
  overflow: hidden;
}

.national-park-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заповнює весь блок, не спотворюючи зображення */
}

/* --- Адаптація для мобільних пристроїв --- */
@media (max-width: 768px) {
  .national-park {
      flex-direction: column; /* Міняємо на вертикальне розташування */
      align-items: center;
  }

  .national-park__content, 
  .national-park__image {
      max-width: 100%;
      padding: 30px 20px;
  }

  .national-park-img {
      width: 100%; /* Заповнює ширину, але зберігає пропорції */
      height: auto;
      max-height: none; /* Прибираємо обмеження на висоту */
      position: absolute;
  }
  .national-park__content {
      padding: 20px 15px;
  }

  .national-park__title {
      font-size: 28px;
  }

  .national-park__subtitle {
      font-size: 16px;
  }

  .national-park__description1, 
  .national-park__description2 {
      font-size: 15px;
  }

  .national-park__button button {
      width: 100%;
  }
}