.adventure {
  background-image: url(../img/call-form/background-call-form.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1200px;
  width: 100%;
  .adventure__tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    .adventure__tour-list-item {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .adventure__tour-list,
    .adventure__tour-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 30px;
    }

    .adventure__tour-item {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    .adventure__tour-link {
      font-size: 18px;
      color: rgb(247, 199, 2);
      text-decoration: none;
      text-align: left;
    }
  }

  .adventure__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 260px;
    color: var(--base-color);
    .adventure__title-text {
      display: block;
      margin-left: 20px;
      font-family: "Permanent Marker", serif;
    }
  }

  .adventure__info {
    .adventure__info-text {
      color: rgb(251 214 201);
      margin-left: 20px;
      font-size: 19px;
    }
  }

  .adventure__icon {
    padding-top: 30px;
    display: flex;
    padding-left: 20px;

    .adventure__background-icon {
      background-color: var(--primary-color);
      border-radius: 100%;
      height: 50px;
      width: 50px;
      align-items: center;
      justify-content: center;
      display: flex;

      .adventure__icon-svg {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .adventure__contact-text {
      .adventure__contact-text-item {
        padding-left: 10px;
        padding-bottom: 20px;
        color: var(--base-color);
        font-size: 14px;
      }

      .adventure__contact-link {
        color: var(--base-color);
        display: block;
        font-size: 28px;
        font-family: "Permanent Marker", serif;
      }
    }
  }
}

@media (min-width: 1200px) {
  .adventure {
    min-height: 1200px;
    padding: 100px 40px;
  }

  .adventure__title {
    font-size: 54px;
  }

  .adventure__info-text {
    font-size: 24px;
    max-width: 1000px;
  }

  .adventure__tour {
    gap: 60px;
  }

  .adventure__tour-item {
    font-size: 26px;
  }

  .adventure__tour-link {
    font-size: 22px;
  }

  .adventure__background-icon {
    height: 70px;
    width: 70px;
  }

  .adventure__icon-svg {
    width: 36px;
    height: 36px;
  }

  .adventure__contact-text-item {
    font-size: 18px;
  }

  .adventure__contact-link {
    font-size: 36px;
  }
}
