.single-tour-day-one {
  padding: 60px 24px;
  min-width: 272px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.single-tour-day-one__gallery {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.single-tour-day-one__gallery-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-tour-day-one__gallery-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.single-tour-day-one__gallery-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .single-tour-day-one__gallery {
    flex-direction: column;
  }
}
