.discount__image-container {
  padding: 60px 0;
  background-image: url(../img/tours/biglion.jpg);
  background-size: cover;
  background-position: 20% 50%;
  min-height: 606px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-clip: content-box;
  justify-content: space-around;
  position: relative;
  max-width: 1200px;

  .overlay__countdown {
    font-size: 19px;
    font-family: "Titillium Web", sans-serif;
  }

  .overlay__early-bird {
    font-family: Permanent Marker;
    font-size: clamp(2.125rem, 4vw, 2.5rem);
    padding-left: 50px;
    padding-right: 25px;
    position: absolute;
    left: 25px;
    top: 110px;
    line-height: 1.2;
  }

  .overlay__offer {
    font-size: 19px;
    font-family: "Titillium Web", sans-serif;
    padding-left: 50px;
    padding-right: 70px;
    position: absolute;
    left: 25px;
    top: 210px;
  }

  .overlay__rebate {
    font-family: Permanent Marker;
    font-size: clamp(3.5rem, 2vw, 4.625rem);
    color: var(--primary-color);
    padding-left: 50px;
    padding-right: 70px;
    position: absolute;
    left: 25px;
    top: 300px;
    line-height: 1.2;
  }

  .overlay__button {
    display: inline-block;
    text-align: left;
    background-color: var(--color-accent);
    padding: 15px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    position: absolute;
    left: 70px;
    top: 440px;
  }
}
