.safari-day-three {
    padding: 50px 24px 60px;
    max-width: 272px;
}

.safari-day-three__title {
    font-size: 2.125rem; /*34px*/
    font-weight: 400;
    text-align: left;
    max-width: 272px;

    @media (min-width: 600px){
        flex-direction: row;
        justify-content: space-around;
    }
}

.safari-day-three__title-highlight {
    font-size: 2.125rem; /*34px*/
    font-weight: 400;
    color: var(--primary-color);
}

.safari-day-three__content {

    font-size: 16.5px;
    display: flex;
    margin-top: 45px;
    max-width: 320px;
    text-align: left;
    flex-direction: column;
    

    @media (min-width: 600px){
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }
}

.safari-day-three__icon {
    color: rgb(243, 42, 42);
    max-width: 20px;
    height: 20px;
}

.safari-day-three__rules-item {
    color: var(--base-color);
    font-family: "Titillium Web", sans-serif;
    font-size: inherit;
    margin-bottom: 14px;
}

.safari-day-three__rules-text {
    margin-left: 8px;
}

.safari-day-three__rules-list {
    list-style: none;
}

.safari-day-three__rules {
    margin-top: 20px;
    display: flex;
    max-width: 320px;
}

.safari-day-three__text {
    color: var(--subtitle-color);
    font-family: "Titillium Web", sans-serif;
    ;
    text-align: left;
    max-width: 320px;
}

.safari-day-three__description {
    max-width: 320px;
}

.safari-day-three__seasonality {
    max-width: 320px;
}

.safari-day-three__description-seasonality {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    text-align: left;
}