@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.safari-day-three {
    padding: 50px 15px 60px;
    margin: 0 auto;
    max-width: 1200px;

}

.safari-day-three__title-highlight {
    font-family: "Permanent Marker", serif;
    font-size: 37px;
    font-weight: 400;
    color: rgb(247, 199, 2);
}

.safari-day-three__title {
    font-family: "Permanent Marker", serif;
    font-size: 37px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
}

.safari-day-three__content {
    margin-top: 45px;
}

.safari-day-three__icon {
    color: rgb(243, 42, 42);
    width: 20px;
    height: 20px;
}

.safari-day-three__rules-item {
    color: rgb(255, 255, 255);
    font-family: "Titillium Web", sans-serif;
    font-size: 17px;
    margin-bottom: 14px;
}

.safari-day-three__rules-text {
    margin-left: 8px;
}

.safari-day-three__rules-list {
    list-style: none;
}

.safari-day-three__rules {
    margin-top: 20px;
    display: block;
    width: 550px;
}

.safari-day-three__text {
    color: rgb(175, 175, 175);
    font-family: "Titillium Web", sans-serif;
    font-size: 17px;
}

.safari-day-three__description {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50%
}

.safari-day-three__seasonality {
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.safari-day-three__description-seasonality {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}