.trip {
    display: flex;
    justify-content: space-between; /* Рівномірний розподіл контенту */
    align-items: center;
    flex-wrap: wrap; /* Дозволяє переносити блоки, якщо не поміщаються */
    max-width: 1200px;
    margin: 0 auto; /* Центрує блок */
    padding: 60px;
}
.trip > div {
    flex: 1; /* Додає рівномірний розподіл простору */
    min-width: 300px; /* Запобігає надто вузькому контейнеру */
}
.trip__title {
    font-size: 2.5rem;
    font-weight: bold;
}
.trip svg {
    display: block;
    margin-top: 10px;
}
.trip__description,
.trip__info {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 20px;
}
.trip__details {
    width: 35%;
    background-color: var(--color-background-muted);
    padding: 20px 30px;
    border-radius: 8px;
}
.trip__details p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--subtitle-color);
    padding: 10px 0;
}
.trip__details p:last-child {
    border-bottom: none;
}
.trip__details strong {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-transform: uppercase;
}
.trip__content {
    width: 60%;
}
