.gallery {
    padding-top: 60px;
    padding-bottom: 40px;
    width: auto;
    font-optical-sizing: auto;
    box-sizing: border-box;
    justify-content: center;

}

.gallery__grid {
    display: grid;
    width: 70%;
    gap: 10px;
    grid-template-columns: 30% 30% 33.5%;
    grid-template-rows: 30% 30%;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; */
    margin: auto;

}

.gallery__masonry-wrapper {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 30px;

}

.gallery__image {
    width: 100%;
    height: auto;
}