.gallery{
    margin-top: 60px;
}

.gallery__items {
    display: grid;
    gap: 28px;
    grid-template-areas:
        "gallery__roedeer gallery__lion gallery__car"
        "gallery__giraffe gallery__lion gallery__car"
        "gallery__giraffe gallery__tree gallery__car"
        "gallery__giraffe gallery__tree gallery__car"
        "gallery__giraffe gallery__tree gallery__car"
        "gallery__giraffe gallery__tree gallery__car"
        "gallery__giraffe gallery__tree gallery__car"
        "gallery__giraffe gallery__tree gallery__animals";
    max-width: 1090px;
    margin: auto;
}

.gallery__items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
}

.gallery__roedeer {
    grid-area: gallery__roedeer;
}

.gallery__lion {
    grid-area: gallery__lion;
    width: 100%;
    max-height: 375px;
    overflow: hidden;
    position: relative;
    object-position: 100% 5%;

}

.gallery__car {
    grid-area: gallery__car;
}

.gallery__giraffe {
    grid-area: gallery__giraffe;
}

.gallery__tree {
    grid-area: gallery__tree;
}

.gallery__animals {
    grid-area: gallery__animals;
}

/* Адаптація під мобільні пристрої */
@media (max-width: 990px) {
    .gallery__items {
        display: grid;
        width: auto;
        max-width: fit-content;
        grid-template-areas:
            "gallery__roedeer gallery__lion"
            "gallery__car gallery__lion"
            "gallery__car gallery__giraffe"
            "gallery__car gallery__giraffe"
            "gallery__car gallery__giraffe"
            "gallery__tree gallery__giraffe"
            "gallery__tree gallery__giraffe"
            "gallery__tree gallery__animals";
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 45px;


    }
    .gallery__lion {
        grid-area: gallery__lion;
        width: 100%;
        max-height: auto;
        overflow: hidden;
        position: relative;
        object-position: 100% 5%;
    
    }


}