.discount__image-container {
  padding: 60px 24px;
  background-image: url(../img/tours/biglion.jpg);
  background-size: cover;
  background-position: 20% 50%;
  min-height: 606px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-clip: content-box;
  justify-content: space-around;

  .overlay__early-bird {
    font-family: Permanent Marker;
    font-size: clamp(34px, 37px, 40px);
    padding-left: 35px;
    padding-bottom: 15px;
  }

  .overlay__offer {
    font-size: 19px;
    font-family: "Titillium Web", sans-serif;
    padding-left: 35px;
    padding-bottom: 15px;
  }

  .overlay__rebate {
    font-family: Permanent Marker;
    font-size: clamp(56px, 65px, 74px);
    color: var(--primary-color);
    padding-left: 35px;
    padding-bottom: 15px;
  }

  .overlay__button {
    display: inline-block;
    text-align: left;
    background-color: var(--color-accent);
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
  }
}
