.discount__image-container {
  padding: 60px 24px;
  background-image: url(../img/tours/biglion.jpg);
  background-size: cover;
  background-position: center;
  max-height: 1170px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .overlay__early-bird {
    font-size: clamp(34px, 37px, 40px);
  }

  .overlay__offer {
    font-size: 19px;
    font-family: "Titillium Web", sans-serif;
  }

  .overlay__rebate {
    font-size: clamp(56px, 65px, 74px);
    color: var(--primary-color);
  }

  .overlay__button {
    display: inline-block;
    text-align: left;
    background-color: var(--primary-color);
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
  }
}
